<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head.ejs')%>
  </head>
  <body>
  <%- include('includes/header.ejs')%>
  <%- include('includes/nav.ejs')%>
    <main>
      <h1>페이지를 찾을 수 없음</h1>
      <p>
       요청하신 페이지를 찾을 수 없습니다
      </p>
 
    </main>
  </body>
</html>
